---
import Layout from './Layout.astro';
import { formatDate } from '@/util/date';

const { frontmatter, slug } = Astro.props;
---

<Layout title={frontmatter.title}>
  <article>
    <h2>{frontmatter.summary}</h2>
    <img src={`/assets/${slug}.png`} alt={frontmatter.title} />
    <slot />
    <div class="footnote">
      Last updated: {formatDate(frontmatter.lastUpdate)}
    </div>
  </article>
</Layout>

<style is:global>
  article {
    display: grid;
    column-gap: 1rem;
    grid-template-areas: 'title title' 'subtext subtext' 'summary summary' 'ingredients photo' 'content content' 'footer footer';
    grid-template-columns: 1fr 1fr;
  }

  article > h1 {
    grid-area: title;

    font-size: 2rem;
  }

  article > p {
    grid-area: subtext;
  }

  article > h2 {
    grid-area: summary;
    margin: 1rem 0;
    padding-left: 1rem;
    border-left: 0.25rem solid var(--light-blue);

    font-family: var(--body-font-family);
    font-weight: 400;
    font-size: 1.125rem;
    font-style: italic;
    color: var(--blue-gray);
  }

  article > img {
    aspect-ratio: 16/9;
    grid-area: photo;
    height: 100%;
    border-radius: 0.25rem;

    object-fit: cover;
  }

  article > ol {
    grid-area: content;
    margin-top: 2rem;
    margin-left: 0;
    padding-left: 0;

    counter-reset: item;
  }

  article > ol > li {
    position: relative;
    display: block;
    min-height: 2rem;
    margin-bottom: 1rem;
    margin-left: 2rem;
    padding-left: 1rem;
  }

  article > ol > li::before {
    position: absolute;
    display: block;
    top: -0.75rem;
    left: -1rem;
    width: 3rem;
    margin-left: -2rem;

    font-family: var(--title-font-family);
    font-weight: 700;
    font-size: 2rem;
    color: var(--blue);
    text-align: end;

    content: counter(item) '.';
    counter-increment: item;
  }

  .ingredients {
    grid-area: ingredients;
  }

  .footnote {
    grid-area: footer;

    margin-top: 2rem;
    margin-bottom: 4rem;

    font-size: 0.75rem;
    text-align: center;
  }
</style>
